.main-container {
    display: block;
    margin: 0px;
    padding: 15px;
}

.title-container{
    margin-left: 15px;
}
.row-container{
    display: block;
    clear: both;
    min-height: 28px;
    margin: 10px -15px;
}
.table-container{
    width: 100%;
    padding: 15px;
    margin: 10px auto;
}