.layer-content {
    padding: 20px;
}
.layer-content.show {
    display: block;
}
.layer-content .form-control[readonly] {
    background-color: #fff;
}
.layer-content .form-group textarea.form-control {
    resize: none;
    height: 84px;
}
.cp-tmda-item {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 20px 0px;
}