* {margin:0;padding:0}
html { overflow:auto}
li { list-style:none}
body { background:#2B538A}
#loginLayout { background:url(../images/bgLogin.png); width:666px; height:495px; overflow:hidden; margin:85px auto; position:relative}
#loginForm { position:absolute;top:310px; left:195px}
#loginForm li {height:35px;margin-top:9px}
#loginForm li input { padding:6px 5px;border:1px solid #2B538A}
#username {width:260px;}
#userPasd { width:150px; margin-right:17px;}
#yzm { width:80px;}  
#loginForm li p { color:#D20000;font:12px "宋体"}
#loginForm li#btns { text-align:center;margin-top:0px}
#btns input  { background:url(../images/btns.png) no-repeat; width:128px; height:38px; cursor:pointer}
#btns #cancel  { background-position:0 -38px}